<form [formGroup]="form" (ngSubmit)="submit()" class="Form">
  <h2 class="flex justify-center">{{"PRODUCT_DESIGNATION.EDIT_PRODUCT_DESIGNATION" | translate}}</h2>
      <mat-form-field class="w-full">
          <input class="ng-touched" type="text" matInput [placeholder]=" 'PRODUCT_DESIGNATION.PRODUCT_DESIGNATION' | translate" formControlName="nome">
          <mat-error *ngIf="form.controls.nome.invalid">{{"USERS.INVALID" | translate}}</mat-error>
      </mat-form-field>
  <p *ngIf="error" class="error">
      {{ error }}
  </p>
  <div class="button">
      <button type="submit" mat-raised-button [disabled]="form.invalid" color="primary">{{"EDIT" | translate}}</button>
  </div>
</form>
