<div *ngIf="loading" class="loading">
  <mat-spinner></mat-spinner>
</div>


<div class="m-3" *ngIf="!loading">
  <div class="flex flex-row header item-center">
    <h1>{{"PRODUCTS.PRODUCTS" | translate}}</h1>
  </div>


  <table mat-table [dataSource]="products" class="mat-elevation-z8">

    <ng-container matColumnDef="referenceNumber">
      <th mat-header-cell *matHeaderCellDef> {{"PRODUCTS.REFERENCE_NUMBER" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
    </ng-container>

     <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> {{"PRODUCTS.DESIGNATION" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.designation.charAt(0).toUpperCase() + element.designation.slice(1)}} </td>
    </ng-container>

    <ng-container matColumnDef="productType">
      <th mat-header-cell *matHeaderCellDef> {{"PRODUCTS.TYPE" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.productType.charAt(0).toUpperCase() + element.productType.slice(1)}} </td>
    </ng-container>

    <ng-container matColumnDef="initialQuantity">
      <th mat-header-cell *matHeaderCellDef> {{"PRODUCTS.INITIAL_QUANTITY" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.initialQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="availableQuantity">
      <th mat-header-cell *matHeaderCellDef> {{"PRODUCTS.AVAILABLE_QUANTITY" | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.availableQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="documents" >
      <th  mat-header-cell   *matHeaderCellDef></th>
      <td mat-cell   *matCellDef="let element;">
        <mat-icon color="primary" (click)="goToProductDocuments(element.referenceNumber)" matTooltip="{{'PRODUCTS.DOCUMENTS' | translate }}">
          file_present
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="traceability">
      <th mat-header-cell  *matHeaderCellDef></th>
      <td mat-cell  *matCellDef="let element;">
        <mat-icon (click)="goToProductTraceability(element.referenceNumber)" color="secodary" class="material-icons-outlined"
                  matTooltip="{{'PRODUCTS.TRACEABILITY' | translate }}">account_tree
        </mat-icon>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

