    <div *ngIf="loading" class="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading" class="mat-elevation-z8">
      <table mat-table [dataSource]="produtos" >
        <ng-container matColumnDef="referenceNumber">
          <th mat-header-cell *matHeaderCellDef> Reference Number </th>
          <td mat-cell *matCellDef="let produto"> {{produto.referenceNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef> Designação </th>
          <td mat-cell *matCellDef="let produto"> {{produto.designation.charAt(0).toUpperCase() + produto.designation.slice(1)}} </td>
        </ng-container>

        <ng-container matColumnDef="productType">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let produto"> {{produto.productType.charAt(0).toUpperCase() + produto.productType.slice(1)}} </td>
        </ng-container>

        <ng-container matColumnDef="initialQuantity">
          <th mat-header-cell *matHeaderCellDef> Quantidade Inicial </th>
          <td mat-cell *matCellDef="let produto"> {{produto.initialQuantity}} </td>
        </ng-container>

        <ng-container matColumnDef="availableQuantity">
          <th mat-header-cell *matHeaderCellDef> Quantidade Disponivel </th>
          <td mat-cell *matCellDef="let produto"> {{produto.availableQuantity}} </td>
        </ng-container>

        <tr mat-header-row style="background-color: white; border: 5px #3697ff" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="rows" *matRowDef="let row; columns: displayedColumns;" (click)="check(row.referenceNumber)"></tr>
      </table>
    </div>




