$primary-color: #3697ff;

.container{
  height: 100%;
}

.node{
  cursor: pointer;
  pointer-events: auto;
}

ngx-graph{
  cursor: default;
}

.loading{
  display:flex;
  justify-content:center;
  align-items:center;
}

.graph{
  display:flex;
  justify-content:center;
  align-items:center;
  color:rgb(0, 0, 0);
  border-radius: 25px;
  background: $primary-color;
  padding: 50px;
  width: 0 auto;
  height: 0 auto;
  display:flex;
  justify-content:space-between;
  align-items:top;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;

}

ngx-graph {
  pointer-events: none;
}

svg:hover{
  stroke:white;
}

.info{
  margin-left: 10%;
  width: 50vh;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid $primary-color;
  padding: 20px;
}

.divider{
  margin:20px
}

.mat-tooltip {
  white-space: pre-line;
}
.cardContainer {
  height: auto;
  width: 150;
  display: inline;}

.name {
  color: #ff6600;
  font-size: 24px;
  cursor: pointer;
}

label {
  margin: 0;
  top: 50%;
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.button{
  width: 100%;
  background-color: #000066;
    color: #ff6600;
}

.button:hover{
  background-color:white;
    color: #ff6600;
}

.buttonSair{
  width: 100%;
  background-color: red;
    color: white;
}

.buttonSair:hover{
  background-color:white;
    color: #ff6600;
}
