table {
  width: 100%;
}

.header {
  width: 100%;
  justify-content: space-between;
}

.m-3 {
  margin: 2rem;
}

.mat-column-edit {
  width: 2rem;
  text-align: center;
  justify-content: flex-end;
}

.mat-column-remove {
  width: 2rem;
  text-align: center;
  justify-content: flex-end;
}

.mat-row:nth-child(4n+2) {
  background: #dadada;
}

.mat-row:nth-child(4n+4) {
  background: #dadada;
}

.mat-header-row {
  background-color: #324359;
}

.mat-header-cell {
  color: white;
}
