<div class="divPrincipal">
<div class="add" *ngIf="show">
  <button mat-raised-button (click)="openDialog()" class="botao" style="position: absolute; right: 20px; margin-top: 0.5%;">
    <span class="material-symbols-outlined">add</span>
  </button>
</div>
<mat-list class="list" style="position: static; justify-content:space-around;">
  <div mat-subheader>Designações de Atividades</div>
  <mat-divider style="margin-bottom: 1%;"></mat-divider>
  <mat-list-item class="item" style="min-height: 50px ; width:0 auto; height:100%; display: grid; border-radius: 80px; margin-bottom: 2%;" *ngFor="let atividade of atividades">
    <p style="margin: 20px;">{{atividade.designation}}</p>
    <div class="buttons" *ngIf="show">
      <button  class="button" mat-raised-button  style="margin-right: 4px" (click)="edit(atividade.id)">
        Editar
      </button>
      <button class="buttonSair" mat-raised-button style="width: 130%;" (click)="delete(atividade.id,atividade.designation)">
        Remover
      </button>
    </div>
  </mat-list-item>
</mat-list>

</div>
