$primary-color: #3697ff;

.add{
  position: static;
  padding-bottom: 2%;
  margin: 20px;
  margin-bottom: 20px;
}
.item{
  background-color: beige;
}

.button{
  width: 100%;
  background-color: #000066;
    color: #ff6600;
}

.button:hover{
  background-color:white;
    color: #ff6600;
}


.divPrincipal{
  color:rgb(0, 0, 0);
  border-radius: 25px;
  background: $primary-color;
  padding:0 auto;
  min-height:200px;
  width: 0 auto;
  height: 0 auto;
  align-items:top;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  padding-bottom: 2px;
 
}

.buttonSair{
  width: 100%;
  background-color: red;
    color: white;
}

.buttonSair:hover{
  background-color:white;
    color: #ff6600;
}

.botao{
  background-color: #000066;
  color: #ff6600;
  
  position: relative;
  display: flex;

  font-size: 70%;
}  

.botao:hover{
  background-color:white;
  color: #ff6600;
}


.buttons{
  display:flex;
  position:sticky;
  left: 90%;
}