<!--TODO: delete this page not necessary-->
<img src="../../../assets/logo.png" alt="logo" style="position:relative; left:43%;">

<div class="home">
  <div class="button">
    <button  mat-raised-button (click)="produtos()" class="botao" >Produtos</button>
  </div>
  <div class="button" *ngIf="show">
    <button  mat-raised-button (click)="activityCrud()"class="botao" >Designações de Atividades</button>
</div>
<div class="button" *ngIf="show">
  <button  mat-raised-button (click)="productCrud()" class="botao" >Designações de Produtos</button >
</div>
<div class="button" *ngIf="show">
  <button  mat-raised-button (click)="userCrud()" class="botao" >Utilizadores</button>
</div>


</div>
<div  class="button" style="position:relative; left: 0; top: 20px;">
  <button  mat-raised-button  (click)="sair()"  color="warn" style=" width: 150px; height:50px; font-size:x-large;">Sair</button>
</div>

<router-outlet role="main"></router-outlet>
