
<div class="divPrincipal">

<div class="add" *ngIf="show">
  <button mat-raised-button (click)="openDialog()" class="botao" style="position: absolute; right: 20px;margin-top: 0.5%;">
    <span class="material-symbols-outlined">add</span>
  </button>
</div>
<div >
  <mat-list class="list" style="position: relative; justify-content:space-around;">
    <mat-list-item class="item" style="min-height: 50px ; width:0 auto; height:100%; display: grid; border-radius: 80px; margin-bottom: 2%;" *ngFor="let user of users">
      <p>{{user.name}}</p>
      <div class="buttons" *ngIf="show">
        <button mat-raised-button class="button" style="margin-right: 4px" (click)="edit(user)">
          Editar
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>

</div>
