<div class="m-3">
  <div class="flex flex-row header item-center">
    <h1>{{"USERS.USERS" | translate}}</h1>
    <button  *ngIf="show" mat-mini-fab color="primary"  (click)="openDialog()" matTooltip="{{'USERS.ADD_USER' | translate }}">
      <mat-icon>add</mat-icon>
    </button>
  </div>



  <table mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{"USERS.NAME" | translate}}</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="edit" >
    <th  mat-header-cell  [hidden]="!show" *matHeaderCellDef></th>
    <td mat-cell  [hidden]="!show" *matCellDef="let element;">
      <mat-icon color="primary" (click)="edit(element)" matTooltip="{{'EDIT' | translate }}">
        edit
      </mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
