<mat-toolbar color="primary">
  <div class="title" routerLink="/">
    <mat-label>{{"WEST_SEA" | translate}}</mat-label>
  </div>

  <div class="w-full flex flex-row ">
    <button mat-button routerLink="/produtos" routerLinkActive="active">{{ 'TOOLBAR.PRODUCTS' | translate }}</button>
    <button mat-button routerLink="/produtoscrud"
            routerLinkActive="active">{{ 'TOOLBAR.PRODUCT_DESIGNATIONS' | translate }}</button>
    <button mat-button routerLink="/atividadescrud"
            routerLinkActive="active">{{ 'TOOLBAR.ACTIVITY_DESIGNATIONS' | translate }}</button>
    <button mat-button routerLink="/utilizadores" routerLinkActive="active">{{ 'TOOLBAR.USERS' | translate }}</button>
    <span class="spacer"></span>
    <button mat-fab color="primary" class="shadow-none" (click)="logout()">
      <mat-icon matTooltip="{{'TOOLBAR.LOGOUT' | translate }}">logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

