<!--<ng-container *ngIf="mediaQueryService.isDesktop; else mobile">-->
  <mat-toolbar color="primary">
    <div  class="title" routerLink="/">
      <mat-label>{{"WEST_SEA" | translate}}</mat-label>
    </div>

    <div class="w-full flex flex-row ">
      <button mat-button routerLink="/produtos" routerLinkActive="active">{{ 'TOOLBAR.PRODUCTS' | translate }}</button>
      <button mat-button routerLink="/produtoscrud" routerLinkActive="active">{{ 'TOOLBAR.PRODUCT_DESIGNATIONS' | translate }}</button>
      <button mat-button routerLink="/atividadescrud" routerLinkActive="active">{{ 'TOOLBAR.ACTIVITY_DESIGNATIONS' | translate }}</button>
      <button mat-button routerLink="/utilizadores" routerLinkActive="active">{{ 'TOOLBAR.USERS' | translate }}</button>
      <span class="spacer"></span>
      <button mat-fab color="primary" class="shadow-none" (click)="logout()">
        <mat-icon matTooltip="{{'TOOLBAR.LOGOUT' | translate }}">logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
<!--</ng-container>-->

<!--<ng-template #mobile>-->

<!--  <mat-toolbar color="primary">-->
<!--    <button mat-icon-button (click)="sidenav.toggle()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->

<!--    <span routerLink="/">{{"WEST_SEA" | translate}}</span>-->
<!--  </mat-toolbar>-->

<!--  <mat-sidenav-container class="example-sidenav-container">-->
<!--    <mat-sidenav #sidenav [disableClose]="false" >-->
<!--      <mat-nav-list>-->
<!--        <a (click)="sidenav.close()" mat-list-item routerLink="/produtos" routerLinkActive="active">{{ 'TOOLBAR.PRODUCTS' | translate }}</a>-->
<!--        <a (click)="sidenav.close()" mat-list-item routerLink="/produtoscrud" routerLinkActive="active">{{ 'TOOLBAR.PRODUCT_DESIGNATIONS' | translate }}</a>-->
<!--        <a (click)="sidenav.close()" mat-list-item routerLink="/atividadescrud" routerLinkActive="active">{{ 'TOOLBAR.ACTIVITY_DESIGNATIONS' | translate }}</a>-->
<!--        <a (click)="sidenav.close()" mat-list-item routerLink="/utilizadores" routerLinkActive="active">{{ 'TOOLBAR.USERS' | translate }}</a>-->
<!--        <a (click)="logout()" mat-list-item>{{ 'TOOLBAR.LOGOUT' | translate }}</a>-->
<!--      </mat-nav-list>-->
<!--    </mat-sidenav>-->


<!--    <mat-sidenav-content>-->
<!--      <div class="container" style="min-height: 100vh;">-->
<!--        <router-outlet ></router-outlet>-->
<!--      </div>-->
<!--    </mat-sidenav-content>-->

<!--  </mat-sidenav-container>-->
<!--</ng-template>-->
